.pageActualitat{
	width: 100%;
}
.cont-actualitat{
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
}

.contenidor-secciones{
    max-width: 1000px;
    margin:0px auto;
    background-color: white;
    padding: 50px ;
    width: 100%;
}

#contCB2{
display: flex;
justify-content: center;

}


.titol-article{
    font-size: 3em;
    color:#08103E;
}
.subtitol-article{
    font-size: 1.5em;
    font-weight: 300;
    margin: 10 0px ;
}


aside{
    width: 400px;
	margin-bottom: 100px;
    margin-left: 20px;
}
.twitter-timeline{
    margin-bottom: 50px;
}

.article-general  .titol-article{
    font-size: 2em;
}
.contenedor-articulo{
    max-width: 1000px;
    margin:0px auto;
    background-color: white;
    padding: 50px ;
    width: 100%;
}
.article-general{
margin-bottom: 100px;
padding-bottom: 50px;
border-bottom: 1px solid #cbcbcb;
}
.article-general  .subtitol-article{
    font-size: 1.3em;
    color:black;
    padding-left:0;
    margin-top: 10px;
}
.article-general img{
    max-width: 900px;
    margin: 0px auto;
}
.article-general  p{
    margin-top: 30px;
    line-height: 25px;
}
.article-general .autor{
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

aside .widget{
    margin-left: -30px;
}
.flex{
    display: flex;
    flex-direction: column-reverse;
}

.article{
    display: none;
}

.show{
    display: block;
}

.show2{
display: block;
}

.btnActiu{
    background-color: white;
    color: black;
}