body{
    background-color: rgb(231, 231, 231);
}
body:-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,3);
    border-radius:0px; 
    background-color: rgba(255, 255, 255, 0);}
    
    body::-webkit-scrollbar{ 
    width:10px; 
    background-color:rgb(255, 255, 255); 
    }
    body::-webkit-scrollbar-thumb{ 
    -webkit-box-shadow: outset 0 0 5px  #ffffff; 
    background-color:  #0d0168;
    border: 2px solid white;
}
.index{
    display:block;
    margin: 0px ;
}
.contenido-paginas{
    display: none;
 }
 #clock h2{
    text-align: center;
    text-transform: uppercase; 
    color: #08103E;
    margin-bottom: -1px;
    padding: 10px auto;
}
#clock{
width: 100%; 
margin: -50px auto 0px auto;   
}

.initially-hidden{
    visibility: hidden;
}
.mockup{
    background-color: #f0f0f1;
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 0px 200px;
}
.text-twitter{
    flex-direction: column;
}
.mockup h2{
    width: 400px;
    color:#08103E;
    font-size: 2.5em;
    margin-top: 90px;
}
.mockup p{
    font-size: 1.5em;
    margin-top: 30px;
}
.mockup i{
    font-size: 10em;
    margin-top: 100px;
    margin-left: 150px;
    color:#08103E;
    animation: manito 1.5s infinite linear;
}
@keyframes manito{
    0% {
        transform: translateX(0px);
    }
    30%{
        transform: translateX(50px);

    }
    50% {
        transform: translateX(40px);

    }
    70%{
        transform: translateX(50px);

    }
    100%{
        transform: translateX(0px);

    }

}

.twitter{
    position: relative;
    
}
.twitter img{
    max-width: 459px;
    padding: 50px;
    z-index: 4;

}
.cont-twitter{
    position: absolute;
    max-width: 291px;
    top: 97px;
    height: 800px;
    left: 81.1px;

}

.contenedor-contador{
    display:flex;
	max-width:400px; 
    height: 110px; 
    margin: 0px auto 50px auto;

}

.contenido-contador{
   background-color: rgba(0, 0, 0, 0.274);
			margin:15px auto;
			font-size:2em; 
			padding:10px 20px; 
			text-align: center; 
            font-weight:bold; 
            color:white;
            box-shadow: 0px 10px 6px -5px rgba(176,176,176,0.64);
            border: 1px solid white;
            border-radius: 5px;
}


a .twitter-timeline{
    width: 200px;
}

.cS-hidden{
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

.calendar{
    width: 100%;
    margin-top: 0px;
}

.titol-calendari{
    background-color: #08103E;
    padding: 50px ;
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 1.5em;
}



iframe{
    width: 100%;
    height: 750px;
   
}

.article-general{
    max-width: 1000px;
    margin:0px auto;
    background-color: white;
    padding: 50px 50px ;
}
.article-general  .subtitol-article{
    font-size: 1.5em;
    margin-top: -20px;
    padding: 0;
    color:black
}
.article-general img{
    width: 900px;
    margin: 0px auto;
}
.article-general  p{
    margin-top: 50px;
    line-height: 25px;
}
.article-general .autor{
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
}
