@media screen and (max-width: 600px) {
    .brand img{
        width: 250px;
        margin-top: 0px;
    }
    #clock{
        margin: 50px auto;
    }
    .last_hour, .last_hour h2{
        width: 140px;
        padding-left: 10px;
    }
    .last_post{
        margin-left: 140px;
    }
    .article3d{
        width: 100vw;
    }
    .article3d .titol{
        bottom: 190px;
    }
    
    
    .article {
       width:100vw;
   }

 .article3d .titol{
     height: 50px;
     bottom:33vh;
 }
 .titol h3{
 font-size: 0.9em;
 }
.subtitol{
    font-size: 0.7em;
}
.article-general{
    padding: 0;
    margin-top:-50px;
    padding:40px 50px;
}
.article-general img{
    width: 90vw;
}
.titol-article {
    font-size: 2em;
}
.titol-calendari{
    font-size: 1em;
}
.paisos{
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.equipo{
    flex-wrap:wrap;
    margin-left: 0px;
}

.pageentrevistas  .iframe_uno{
    max-width: 900px;
    width: 100%;
    max-height: 250px;
    margin:0;
}
}
    @media screen and (max-width: 800px) {
        .article3d {
            width:100vw;
        }
     

 
      .titol h3{
      font-size: 1em;
      }
     .subtitol{
         font-size: 0.9em;
     }
     .article-general{
         padding: 0;
         margin-top:-50px;
         padding:40px 50px;
     }
     .article-general img{
         width: 100%;
     }
     .titol-article {
         font-size: 2em;
     }
     .mockup{
         flex-wrap: wrap;
     }
     .icono-manito{

         transform: rotate(90deg);
     }
     .pagepaises{
        justify-content: center;
        width: 100%;
    }
    .paisos{
        display: flex;
        flex-wrap: wrap;
    }
    .cont-actualitat{
        flex-wrap: wrap;
    }
    .article-actualitat{
        width: 400px;
        margin-bottom: 50px;

    }
    .cont-entrevistas{
        flex-wrap: wrap;
        margin: 0 ;
        padding: 0px 20px;
    }
    .pageentrevistas  .iframe_uno{
        width: 90vw;
        height: 400px;
    }
    #form{
        flex-wrap: wrap;
    }

    .equipo{
        flex-wrap:wrap;
        margin-left: -60px;
    }
    .pau{
        margin-bottom: 50px;
    }
    .formulari{
        width: 400px;
    }

    .social-contact {
        display: flex;
    }

.otras-entrevistas .videos{
    width: 200px;
    height: 100px;
}
    }

        @media screen and (max-width: 1000px) {
         #clock{
             margin: 0px;

         }
        .article {
            width:100%;
        }
     
      .article .titol{
          height: 70px;
      }
    
      .titol h3{
      font-size: 1em;
      }
     .subtitol{
         font-size: 0.9em;
     }
     .article-general{
         padding: 0;
         margin-top:-50px;
         padding:40px 50px;
     }
     .article-general img{
         width: 100%;
     }
     .titol-article {
         font-size: 2em;
     }
     .mockup{
         flex-wrap: wrap;
     }
     .icono-manito{

         transform: rotate(90deg);
     }
     .paisos{
        display: flex;
        flex-wrap: wrap;
    }
    .article-actualitat{
        width: 500px;
        margin-right: 50px;
    }

    
    #form{
        flex-wrap: wrap;
    }

    .equipo{
        flex-wrap:wrap;
        margin-left: 0px;
    }
    .pau{
        margin-bottom: 50px;
    }
    .formulari{
        width: 400px;
    }

    .social-contact {
        display: flex;
    }

    }

   
    @media screen and (max-width: 1200px) {
        .cont-principal-entrevistas{
            width: 100vw;
            margin-right: 10vw;
        }
      
        #form{
            flex-wrap: wrap;
        }
    
        .equipo{
            margin-left: -10vw;
        }
        .pau{
            margin-bottom: 50px;
            margin-right: 50px;
        }
        .formulari{
            width: 400px;
        }
    
        .social-contact {
            display: flex;
        }
    
    }