*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cab-fondo img{
  width: 1200px;
  margin-top: 0px;
  height: 200px;
}

.brand img{
  position: absolute;
  top: 0px;
  left: 42vw;
}
h1,p{
  text-align: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  background-color:white;
  padding: 20px 50px;
}

#btn{
  width: 200px;
  border:none;
  padding: 10px 20px ;
  background-color: #9ba5dd;
  margin: 20px auto 100px auto;
}

body{
  background-color: #08103E;
  margin: auto;
  max-width: 80vw; 
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}


.contenidor{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.italic{
  font-style: italic;
}

#contCB{
  column-count: 6;
  column-gap: 50px; 

}
.CB{
  display: block;
}

.contImatge{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
#feedback{
  display: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: green;
  padding: 10px;
}

#contingut {
  width: 80%; 
  height: auto; 
  padding: 20px;
  background-color: whitesmoke;
  color: black;
  margin: 20px;
  }