.pagepaises{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 2.5em;
    margin-top:50px;
    margin-bottom: 50px;
}
.paisos{
    display: flex;
    justify-content: center;
}
.paisos > li{
    padding: 10px 0px;
    list-style: none;
    text-align: center;
    font-weight: 200;
    margin-left: 40px;
    width: 250px;
    border:none;
}
.sub-menu{
    width: 150px;
    padding: 10px 45px;

}
.paisos >li >ul >li{
    list-style: none;
    margin-left:-30px;
    text-align: left;
    transition: 0.5s;
    width: 240px;
    border: none;
    font-size: 0.7em;
    border-bottom: 1px solid #c1c1c1;
}
.paisos a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 5px;
}
.paisos .menu-equal > p{
    background-color: #08103E;
    padding:5px 0px;
    color: white;
}
.paisos li >ul >a:hover{
    transform: translateX(20px);
}
.paisos a:hover {
    color: #737479;

}