<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VUE component</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="vue.css">
</head>
<body>
  <h1>Article reutilitzable fet amb VUE</h1>
  
  <div id="app">
    <div class="flex">
      <article-vue v-for="el of articles" v-bind:key="el.id" v-bind:titol="el.titol" v-bind:src="el.imatge" v-bind:contingut="el.contingut"></article-vue>
    </div>
  </ul>
  
  <script>
    Vue.component("article-vue",{
      props: ["titol","contingut", "imatge"],
      template: `<div class= "article"> <h2> {{titol}} </h2> <img v-bind:src="{{imatge}}"> <p>{{contingut}} </p></div>`
    });
    
    var app = new Vue ({
      el: "#app",
      data:{
        articles: []
      },
      methods: {
        getArticles: () =>{
          const URL = "https://eurovisiu-default-rtdb.firebaseio.com/articles";
          fetch(URL + '.json', {
            method: 'GET'
          })
          .then(res => res.json())
          .then(res => {
            app.articles = res; 
          })
        }
      }
    })

    app.getArticles();

  </script>
  
</body>
</html>


    
<div class="targeta" v-for='item of caract'>
  <h2 v-bind:style="item.style">{{item.nom}}</h2>
  <div class="targeteta">Tipo: {{item.tipo}} </br>Pokédex: {{item.pokedex}} </br> <img v-bind:src= "item.img" width="100px" >
  </div>
</div>
</div>


<script>
var tergeta = new Vue({
  el: '#targeta',
  data:{
    caract:[
      {nom: 'Bulbasur', tipo: 'planta / veneno', pokedex: '001', style: {color: 'green', fontSize: '2em'}, img: './img/bulbasur.png'},
      {nom: 'Charmander', tipo: 'fuego', pokedex: '004', style: {color: 'red', fontSize: '2em'}, img: './img/charmander.png'},
      {nom: 'Squirtle', tipo: 'agua', pokedex: '007', style: {color: 'blue', fontSize: '2em'}, img: './img/squirtle.png'}
  ]
  }
});