*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cab-fondo img{
  width: 1200px;
  margin-top: 0px;
  height: 200px;
}

.brand img{
  position: absolute;
  top: 0px;
  left: 42vw;
}
h1,p{
  text-align: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  background-color:white;
  padding: 20px 50px;
}

#btn{
  width: 200px;
  border:none;
  padding: 10px 20px ;
  background-color: #9ba5dd;
 margin: 20px auto 100px auto;
}

body{
  background-color: #08103E;
  margin: auto;
  max-width: 80vw; 
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

header{

}
.contenidor{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.italic{
  font-style: italic;
}

.divCheckbox{
  column-count: 4;
  column-gap: 50px;
  /* display: flex;
  flex-direction: column; */
}
.labelCheckbox{
  margin:10px;
  display: block;
}

.divImatge{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}