body{
  margin: auto;
  max-width: 90vw; 
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}
.contenidor{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.italic{
  font-style: italic;
}

.divCheckbox{
  column-count: 4;
  column-gap: 50px;
  /* display: flex;
  flex-direction: column; */
}
.labelCheckbox{
  margin:10px;
  display: block;
}

.divImatge{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}